@font-face
{
	font-family: "IR Roya";
	src: url('../fonts/irroya_0.eot');
	src: url('../fonts/irroya_0.eot?iefix') format('embeded-opentype'),
		 url('../fonts/irroya_0.woff') format('woff'),
		 url('../fonts/irroya_0.ttf') format('truetype'),
		 url('../fonts/irroya_0.svg') format('svg');
}
.DefinedFonts{
	font-family: IR Roya;
}
select{
	font-family: "IR Roya";
}
option{
	font-family: "IR Roya";
}
.Simplistlogo, .Simplisteastcloud
{ display: inline-block; background: url('../img/Logo.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; margin: 5px 42% 20px;
}

.Simplistlogo { background-position: -0px -0px; width: 50px; height: 50px; }
.Simplisteastcloud { background-position: -0px -50px; width: 50px; height: 50px; }
